@page "/character"

@using NovelistBlazor.Common
@using NovelistBlazor.Common.Service
@using NovelistBlazor.PWA.Component

@inject Repository _repository

<PageTitle>Novelist - Character</PageTitle>
<Container Title="Character">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-10 gap-y-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="name">Name</label>
        <InputText id="name" @bind-Value="_repository.CurrentCharacter.Name" />
        <!--
        <label class="block text-gray-700 text-sm font-bold mb-2" for="age">Age</label>
        <InputText id="age" @bind-Value="ViewModel.CurrentCharacter.Age" />-->
        <label class="block text-gray-700 text-sm font-bold mb-2" for="occupation">Occupation</label>
        <InputText id="occupation" @bind-Value="_repository.CurrentCharacter.Occupation" />
        <div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="roleInStory">RoleInStory</label>
            <EditForm Model="@_repository.CurrentCharacter">
                <InputTextArea id="roleInStory" @bind-Value="_repository.CurrentCharacter.RoleInStory" />
            </EditForm>
        </div>
        <div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="physicalDescription">PhysicalDescription</label>
            <EditForm Model="@_repository.CurrentCharacter">
                <InputTextArea id="physicalDescription" @bind-Value="_repository.CurrentCharacter.PhysicalDescription" />
            </EditForm>
        </div>
        <div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="personalityTraits">PersonalityTraits</label>
            <EditForm Model="@_repository.CurrentCharacter">
                <InputTextArea id="personalityTraits" @bind-Value="_repository.CurrentCharacter.PersonalityTraits" />
            </EditForm>
        </div>
        <div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="background">Background</label>
            <EditForm Model="@_repository.CurrentCharacter">
                <InputTextArea id="background" @bind-Value="_repository.CurrentCharacter.Background" />
            </EditForm>
        </div>
        <div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="goalsAndMotivations">GoalsAndMotivations</label>
            <EditForm Model="@_repository.CurrentCharacter">
                <InputTextArea id="goalsAndMotivations" @bind-Value="_repository.CurrentCharacter.GoalsAndMotivations" />
            </EditForm>
        </div>
        <div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="characterArc">CharacterArc</label>
            <EditForm Model="@_repository.CurrentCharacter">
                <InputTextArea id="characterArc" @bind-Value="_repository.CurrentCharacter.CharacterArc" />
            </EditForm>
        </div>
    </div>
</Container>

@code {

}